@layout('layouts/main')

@section('content')

  <main class="flex flex-wrap justify-center mt-24">
    @!form.login({ title: 'Admin Login' })

    <div class="w-full text-center mt-8">
      <a href="{{ route('auth.user.index') }}" class="text-blue-600">
        User? Login or register here instead.
      </a>
    </div>
  </main>

@endsection